pipeline/pipelineappendvar.json
{
	"name": "pipelineappendvar",
	"properties": {
		"activities": [
			{
				"name": "Lookupactivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"dataset": {
						"referenceName": "AzureBlob1",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Execute Pipelines",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookupactivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Child pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"test": {
							"value": "@activity('Lookupactivity').output.firstRow.filename",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute Pipeline22",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute Pipelines",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Child pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"Test2": {
							"value": "@activity('Lookupactivity').output.firstRow.foldername",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"Variable_type": {
				"type": "String",
				"defaultValue": "\"Notype\""
			},
			"Variable_activity": {
				"type": "String",
				"defaultValue": "\"Noact\""
			}
		},
		"annotations": [],
		"lastPublishTime": "2019-05-16T09:52:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}