pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Lookupactivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"dataset": {
						"referenceName": "AzureBlob1",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Execute Pipelines",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookupactivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Child pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Set Variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookupactivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Variable_type",
					"value": {
						"value": "@activity('Lookupactivity').output.firstRow.name",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookupactivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Variable_activity",
					"value": {
						"value": "@activity('Lookupactivity').output.firstRow.properties.description",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Testparameter": {
				"type": "string",
				"defaultValue": "'123'"
			}
		},
		"variables": {
			"Variable_type": {
				"type": "String",
				"defaultValue": "\"Notype\""
			},
			"Variable_activity": {
				"type": "String",
				"defaultValue": "\"Noact\""
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-06-17T12:34:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}